scine-chemoton                   
scine-database==1.3                   
scine-utilities==8.0.0
#scine-art==1.0.0
scine_molassembler
pyyaml
networkx
Jinja2
rdkit
requests
scikit-learn
bokeh==2.3.3
rdkit
scikit-learn
requests
xyz2mol @ git+https://github.com/jensengroup/xyz2mol.git
amk_tools @ git+https://gitlab.com/dgarayr/amk_tools.git
