scine-chemoton                   
scine-database                   
scine-utilities
#scine-art==1.0.0
scine_molassembler
pyyaml
networkx
Jinja2
rdkit
requests
scikit-learn
bokeh==2.3.3
xyz2mol @ git+https://github.com/jensengroup/xyz2mol.git
amk_tools @ git+https://gitlab.com/dgarayr/amk_tools.git
